.sc-head {
    color: #f37321;
}
.gfield--type-captcha {
    label {
        color: #f37321 !important;
    }
}
@include tablet {
    header.main-header .container .header-sticky .logo-wrap {
        z-index: 0 !important;
    }
}
@include mobile {
    header.main-header .container .header-sticky .logo-wrap {
        z-index: 0 !important;
    }
}
.btn .icon.icon-search {
    font-size: 18px;
}
@include tablet-pro {
    header.main-header .container .header-sticky .navigation.desktop .nav {
        overflow-y: auto;
    }
}
@include tablet {
    header.main-header .container .header-sticky .navigation.desktop .nav {
        overflow-y: auto;
    }
}
@include mobile {
    header.main-header .container .header-sticky .navigation.desktop .nav {
        overflow-y: auto;
    }
}

@include tablet-pro {
    .home-connect .container .home-connect__icons {
        margin: 0 10px 40px 10px;
    }
}
@include tablet {
    .home-connect .container .home-connect__icons {
        margin: 0 10px 40px 10px;
    }
}
@include mobile {
    .home-connect .container .home-connect__icons {
        margin: 0 10px 40px 10px;
    }
    .left-reach #menu-social-navigation li {
        margin-right: 40px;
    }
}