.sc-login {
    background-color: #eee;
    overflow: hidden;

    &__outer {
        min-height: 84vh;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    &__header {
        padding: 1rem 2rem;
        background-color: #000;
    }

    &__logo {
        width: 10%;

        img {
            width: 100%;
        }
    }

    &__maincontent {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        position: relative;
    }

    &__logincontainer {
        background-color: #f7f7f7;
        border: 1px solid #F9D5B8;
        padding: 40px 30px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    &__logintitle {
        font-family: Oswald, Helvetica, Arial, sans-serif;
        font-size: 26px;
        margin-bottom: 1.5rem;
        font-weight: 600;
        text-align: center;
        color: #000;
    }

    &__emailinput {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #e2e2e2;

        &:focus-visible {
            outline: none;
        }
    }

    &__passwrd {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 8px;
        border: 1px solid #e2e2e2;

        &:focus-visible {
            outline: none;
        }
    }

    &__forgetpwd {
        color: #FF8526;
        margin-bottom: 20px;
        font-size: 14px;
        width: 100%;
        display: inline-block;
        text-align: right;
        &:hover {
            color: #FF8526;
        }
    }

    &__infotext {
        color: #666;
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
    }

    &__loginbutton {
        font-family: Oswald, Helvetica, Arial, sans-serif;
        margin: auto;
        padding: 0.75rem 1.5rem;
        background: transparent;
        border: 2px solid #000;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: '';
            width: 0;
            height: 3em;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to right, #bebbb9 0%, #bebbb9 100%);
            transition: .5s ease;
            display: block;
            z-index: -1;
        }

        &:hover::before {
            
            width: 100%;
        }
    }

    &__footer {
        background: #000;
        color: #fff;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;

        a {
            color: #fff;
            text-decoration: none;
            margin-left: 1.5rem;
        }
    }

    /* / Decorative elements / */
    &__decorativeelements {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 50px;
            height: 50px;
            border: 3px solid #4B0082;
            border-radius: 50%;
        }

        &::after {
            content: '✨';
            position: absolute;
            bottom: 4rem;
            right: 4rem;
            font-size: 2rem;
        }
    }

}

@include tablet-pro {
    .sc-login {
        &__logincontainer {
            max-width: 440px;
        }

        &__logo {
            width: 17%;
        }
    }
}

@include tablet {
    .sc-login {
        &__logincontainer {
            max-width: 650px;
            margin: 0 auto;
            padding: 40px 30px;
        }

        &__logo {
            width: 20%;
        }
    }
}

@include mobile {
    .sc-login {

        .container {
            padding: 0px 20px;
        }

        &__header {
            padding: 20px 20px 15px 20px;
        }

        &__logincontainer {
            max-width: 300px;
        }

        &__loginbutton {
            font-size: 12px;
            padding: 10px 16px;
        }

        &__maincontent {
            padding: 10px 20px 20px 20px;
        }

        &__footer {
            flex-direction: column;
            align-items: flex-start;
        }

        &__tandc {
            margin-top: 10px;

            a:first-child {
                margin-left: 0;
            }
        }
    }
}